.navbar {
  margin-bottom:0;
}

.jumbotron{
	margin-bottom:0;
	position:relative;
	font-size:16px;
	color:#fff;
	color:rgba(255,255,255,0.75);
	text-align:center;
	border-radius:0;
	padding-top:25px;
	padding-bottom:20px;
	background-image:-webkit-linear-gradient(left, #003973 0, #e5e5be 100%);
	background-image:-o-linear-gradient(left, #003973 0, #e5e5be 100%);
	background-image:linear-gradient(to right, #003973 0, #e5e5be 100%);
	background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff003973', endColorstr='#ffe5e5be', GradientType=1)
}

.jumbotron h1{
  margin-bottom:8px;
  font-weight:300;
  letter-spacing:-0.3px;
  color:#fff
}

.jumbotron p{
  margin-bottom: 0.3em;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer{
	min-width:100%;
  max-width:100%;
  color:#fff;
	text-align:center;
	opacity:.8;
	padding:50px;
	background-image:-webkit-linear-gradient(left, #e5e5be 0, #003973 100%);
	background-image:-o-linear-gradient(left, #e5e5be 0, #003973 100%);
	background-image:linear-gradient(to right, #e5e5be 0, #003973 100%);
	background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff003973', endColorstr='#ffe5e5be', GradientType=1)
}

.fa-github {
  color: white;
  font-size: 2em;
  transition: .1s ease-in-out;
  margin: -0.3rem -0.33rem;
}

.fa-github:hover {
  color: cyan;
}

.fa-linkedin {
  color: white;
  font-size: 2em;
  transition: .1s ease-in-out;
  margin: -0.3rem -0.33rem;
}

.fa-linkedin:hover {
  color: cyan;
}

.fa-file-alt {
  color: white;
  font-size: 2em;
  transition: .1s ease-in-out;
  margin: -0.3rem -0.33rem;
}

.fa-file-alt:hover {
  color: cyan;
}

.fa-envelope {
  color: white;
  font-size: 2em;
  transition: .1s ease-in-out;
  margin: -0.3rem -0.33rem;
}

.fa-envelope:hover {
  color: cyan;
}

.font-italic {
  font-size: 1.2em;
  color: #000000;
}

.meee {
  text-align: center;
  margin-bottom: .3rem;
}

.card-link:hover {
  color: blue;
  text-decoration: underline;
}

.featurette-divider {
  margin: 2.4rem 0;
}

.title-divider {
  background-color: #a52a2a;
  height: 1px;
  border: 0;
  margin: .8rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  color: #a52a2a;
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 1.85rem;
  }
}